/* This ain't real css! This is a Qt-stylesheet! */

InputBox {{
    border: 0px;
    border-top: 2px solid {details_color};
    font-family: {term_fontfamily};
    font-size: {term_fontsize};
    color: {term_input_textcolor};
    background: {term_input_bgcolor};
    selection-color: {term_input_bgcolor};
    selection-background-color: {term_input_textcolor};
}}

OutputBox {{
    border: 0px;
    border-top: 2px solid {details_color};
    font-family: {term_fontfamily};
    font-size: {term_fontsize};
    color: {term_output_textcolor};
    background: {term_output_bgcolor};
}}

QSplitter::handle:horizontal  {{
    background: {details_color};
}}

QPlainTextEdit {{
    font-family: {main_fontfamily};
    font-size: {main_fontsize};
    border: 0px;
    color: {main_textcolor};
    background: {main_bgcolor};
    selection-color: {main_bgcolor};
    selection-background-color: {main_textcolor};
}}

NaNoSidebar {{
    font-family: {nano_fontfamily};
    font-size: {nano_fontsize};
    color: {nano_textcolor};
    background: {nano_bgcolor};
    selection-color: {nano_bgcolor};
    selection-background-color: {nano_textcolor};
}}

QScrollBar:vertical {{
    /*border: 2px solid grey;*/
    background: {main_bgcolor};
    width: 15px;
    /*margin: 22px 0 22px 0;*/
}}
QScrollBar::handle:vertical {{
    background: {details_color};
    min-height: 20px;
}}
QScrollBar::sub-line:vertical {{
    /*border: 2px solid #111;
    background: #111;*/
    height: 0px;
    /*subcontrol-position: top;
    subcontrol-origin: margin;*/
}}
QScrollBar::add-line:vertical {{
    /*border: 2px solid #111;
    background: #111;*/
    height: 0px;/*
    subcontrol-position: bottom;
    subcontrol-origin: margin;*/
}}
/*QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical {{
    border: 2px solid grey;
    width: 3px;
    height: 3px;
    background: white;
}}*/

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {{
    background: none;
}}