/* This ain't real css! This is a Qt-stylesheet! */

InputBox {
    border: 0px;
    border-right: 1px solid #111;
    border-top: 2px solid #111;
    font-family: Telegrama;
    color: #ddd;
    background: #222;
    selection-color: #222;
    selection-background-color: #ddd;
}

OutputBox {
    border: 0px;
    border-left: 1px solid #111;
    border-top: 2px solid #111;
    font-family: Telegrama;
    color: #ddd;
    background: #181818;
}

QPlainTextEdit {
    border: 0px;
    color: #ddd;
    background: #222;
    selection-color: #222;
    selection-background-color: #ddd;
}

QScrollBar:vertical {
    /*border: 2px solid grey;*/
    background: #222;
    width: 15px;
    /*margin: 22px 0 22px 0;*/
}
QScrollBar::handle:vertical {
    background: #111;
    min-height: 20px;
}
QScrollBar::sub-line:vertical {
    /*border: 2px solid #111;
    background: #111;*/
    height: 0px;
    /*subcontrol-position: top;
    subcontrol-origin: margin;*/
}
QScrollBar::add-line:vertical {
    /*border: 2px solid #111;
    background: #111;*/
    height: 0px;/*
    subcontrol-position: bottom;
    subcontrol-origin: margin;*/
}
/*QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical {
    border: 2px solid grey;
    width: 3px;
    height: 3px;
    background: white;
}*/

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    background: none;
}