MainWindow {{
    background: {margin background};
}}

GenericTerminalInputBox {{
    border: 0px;
    border-top: 2px solid {terminal border color};
    font-family: "{terminal font}";
    font-size: {terminal font size};
    color: {terminal input text color};
    background: {terminal input background};
    selection-color: {terminal input background};
    selection-background-color: {terminal input text color};
}}

GenericTerminalOutputBox {{
    border: 0px;
    border-top: 2px solid {terminal border color};
    font-family: "{terminal font}";
    font-size: {terminal font size};
    color: {terminal output text color};
    background: {terminal output background};
}}

QPlainTextEdit {{
    font-family: "{document font}";
    font-size: {document font size};
    border: 0px;
    border-left: 2px solid {document border color};
    border-right: 2px solid {document border color};
    color: {document text color};
    background: {document background};
    selection-color: {document background};
    selection-background-color: {document text color};
}}

ChapterSidebar {{
    background: {sidebar background};
    font-family: "{sidebar font}";
    font-size: {sidebar font size};
}}

ChapterSidebar::item {{
    background: {sidebar background};
    /* this is set manually in the chaptersidebar's code*/
    /*color: {sidebar text color};*/
}}

/* VERTICAL SCROLLBAR */
QScrollBar:vertical {{
    background: {document background};
    width: {scrollbar width};
}}
QScrollBar::handle:vertical {{
    background: {scrollbar slider color};
    min-height: 20px;
}}
QScrollBar::sub-line:vertical {{
    height: 0px;
}}
QScrollBar::add-line:vertical {{
    height: 0px;
}}

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {{
    background: none;
}}

/* HORIZONTAL SCROLLBAR */
QScrollBar:horizontal {{
    background: {document background};
    height: {scrollbar width};
}}
QScrollBar::handle:horizontal {{
    background: {scrollbar slider color};
    min-width: 20px;
}}
QScrollBar::sub-line:horizontal {{
    width: 0px;
}}
QScrollBar::add-line:horizontal {{
    width: 0px;
}}
QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal {{
    background: none;
}}
