$details_color: #111
$main_bgcolor: #222
$main_fontfamily: Serif
$main_fontsize: 14pt
$main_textcolor: #ddd
$term_fontfamily: Monospace
$term_fontsize: 12pt
$term_input_bgcolor: #222
$term_input_textcolor: #ddd
$term_output_bgcolor: #191919
$term_output_textcolor: #ddd
$border_color: black


MainWindow {
    background: #181818;
}

GenericTerminalInputBox {
    border: 0px;
    border-top: 2px solid $details_color;
    font-family: $term_fontfamily;
    font-size: $term_fontsize;
    color: $term_input_textcolor;
    background: $term_input_bgcolor;
    selection-color: $term_input_bgcolor;
    selection-background-color: $term_input_textcolor;
}

GenericTerminalOutputBox {
    border: 0px;
    border-top: 2px solid $details_color;
    font-family: $term_fontfamily;
    font-size: $term_fontsize;
    color: $term_output_textcolor;
    background: $term_output_bgcolor;
}

QPlainTextEdit {
    font-family: $main_fontfamily;
    font-size: $main_fontsize;
    border: 0px;
    border-left: 2px solid $border_color;
    border-right: 2px solid $border_color;
    color: $main_textcolor;
    background: $main_bgcolor;
    selection-color: $main_bgcolor;
    selection-background-color: $main_textcolor;
}

/* VERTICAL SCROLLBAR */
QScrollBar:vertical {
    background: $main_bgcolor;
    width: 15px;
}
QScrollBar::handle:vertical {
    background: $details_color;
    min-height: 20px;
}
QScrollBar::sub-line:vertical {
    height: 0px;
}
QScrollBar::add-line:vertical {
    height: 0px;
}

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    background: none;
}

/* HORIZONTAL SCROLLBAR */
QScrollBar:horizontal {
    background: $main_bgcolor;
    height: 15px;
}
QScrollBar::handle:horizontal {
    background: $details_color;
    min-width: 20px;
}
QScrollBar::sub-line:horizontal {
    width: 0px;
}
QScrollBar::add-line:horizontal {
    width: 0px;
}
QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal {
    background: none;
}
