/*
  $main_background: #181818
  $main_foreground: #ddd
  $darker_background: #111
  $scrollbar_thickness: 15px
  $scrollbar_min_length: 20px
*/

* {
  background: #181818;
  color: #ddd;
  border: none;
  font-size: 15px;
  selection-background-color: #ddd;
  selection-color: #181818;
}
LineNumberBar {
  color: rgba(255, 255, 255, 40%);
}

QLineEdit {
  background: #111;
  font-family: 'monospace';
  selection-color: #111;
}

QListView {
  alternate-background-color: #222;
  border: 2px solid black;
  font-family: 'monospace';
}

/* ============= AUTOCOMPLETION POPUP LIST============= */
CompletionListWidget, CompletionListHelpText {
  border: 2px solid black;
}
/* the completion list's horizontal scrollbar should always be hidden */
CompletionListWidget QScrollBar:horizontal {
  height: 0px;
}
CompletionListWidget::item {
  padding: 2px;
}
CompletionListHelpText {
  background: #444;
  border-bottom: 0;
  padding: 2px;
}
/* The size of items are always calculated from the default CompletionListItem,
   so any size changing options here will be buggy and/or ignored. */
#selected {
  /* This is drawn ON TOP OF the regular CompletionListItem. Use low opacity
     if you want the regular item's color to be visible. */
  background: rgba(255, 255, 255, 64);
}
#history {
  background: #1f2f36;
}
#exact {
  background: #2d0347;
}
#fuzzy {
  background: #0d3013;
}
#rest {
  background: #333333;
}

/* ================= CHAPTER OVERVIEW ================= */
ChapterOverview {
  max-width: 1000px;
}
ChapterItem {
  margin-top: 0px;
  padding: 5px;
  padding-bottom: 10px;
  border-bottom: 2px solid rgba(255, 255, 255, 30);
}
/* Disabled chapters means they're completed. thx qt for hardcoding pseudo-states */
ChapterItem QLabel {
  background: rgba(0, 0, 0, 0);
}
SectionItem {
  background: rgba(255, 255, 255, 10);
  margin: 4px;
  padding: 1px 4px;
}
#num {
  color: rgba(255, 255, 255, 128);
  font-size: 13px;
  font-style: italic;
  margin-right: 5px;
}
#title {
  font-size: 16px;
  font-weight: bold;
}
#desc {
  color: rgba(255, 255, 255, 192);
  font-size: 14px;
}
#length {
  color: rgba(255, 255, 255, 120);
  font-size: 14px;
  margin-left: 1px;
}
#time {
  color: rgba(255, 255, 255, 120);
}
/* ================= HELP VIEW ======================== */
HelpView {
    background: #333;
    color: #ddd;
    font-family: "Monospace";
    font-size: 12px;
    padding: 10px 6px;
    border-top: 2px solid #111;
}

/* ================= MESSAGE TRAY ===================== */
MessageTray {
  background-color: transparent;
  padding-left: 10px;
  padding-bottom: 10px;
}

#terminal_print, #terminal_error {
  background-color: #cc0a0a0a;
  border: 1px solid #cc000000;
  border-radius: 3px;
  color: white;
  font-family: monospace;
  font-size: 14px;
  margin-top: 10px;
  padding: 4px;
}

#terminal_error {
  border-color: #99aa0000;
  background-color: #99660000;
  color: white;
}
InputField {
  padding: 4px;
}

/* ================= SCROLLBARS ======================= */
QScrollBar::handle:vertical, QScrollBar::handle:horizontal {
  background: black;
}
QScrollBar:vertical {
  width: 15px;
}
QScrollBar:horizontal {
  height: 15px;
}
QScrollBar::handle:vertical {
  min-height: 20px;
}
QScrollBar::handle:horizontal {
  min-width: 20px;
}
QScrollBar::add-line:vertical, QScrollBar::sub-line:vertical,
QScrollBar::add-line:horizontal, QScrollBar::sub-line:horizontal {
  height: 0px;
  width: 0px;
}
QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical,
QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal {
  background: none;
}
